# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
.env
.env.*

# Virtual env
venv/
.venv/

# Libs
Lib/

#Scripts
Scripts/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


#dataset
dataset/
.dataset/

# Kafka
kafka/


#Docker
docker/dockerPC/
docker/dockerRPI/
.docker/dockerPC/
.docker/dockerRPI/